body {
  background-color: rgb(228, 228, 228);
  font-family: Galatia SIL;
}

@font-face {
  font-family: Galatia SIL;
  src: url(../../fonts/GalSILR.ttf);
}

/* @font-face {
  font-family: Galatia SIL;
  src: url(../../fonts/GalSILB.ttf);
} */

h1 {
  color: gray;
}

.ItIsaFont {
  font-size: 2rem;
  text-align: center;
}

.icons {
  margin: 1rem;
}

.box-animation {
  flex: 1;
  flex-wrap: wrap;
  border-radius: 0.3em;
  animation-name: bar;
  animation-duration: 2s;
}

box {
  flex: 1;
  flex-wrap: wrap;
  border-radius: 0.3em;
}

/* .box-reverse {
  flex: 1;
  flex-wrap: wrap;
  border-radius: 0.3em;
  animation-name: bar;
  animation-duration: 2s;
  animation-direction: reverse;
} */

.fade {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  /*animation-direction: reverse;*/
}

@keyframes bar {
  from {
    height: 1rem;
  }
  to {
    height: 5.5rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.unbutton {
  border: none;
}

.home a {
  color: gray;
  text-decoration: none;
}

.links a:hover {
  text-decoration: none;
}

.links a {
  color: white;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}

.rad {
  height: 2rem;
  width: 2rem;
}
