body {
  background-color: rgb(228, 228, 228);
  font-family: sans-serif;
}

h1 {
  color: gray;
}

.ItIsaFont {
  font-size: 2rem;
  text-align: center;
}

.icons {
  margin: 1rem;
}

.font-bold {
  font-weight: bold;
}

.box {
  flex: 1;
  flex-wrap: wrap;
}
