/* General and fonts */

body {
  background-color: rgb(228, 228, 228);
  font-family: "DroidSerif";
}

@font-face {
  font-family: "DroidSerif";
  src: url("../../fonts/DroidSerif-Regular-webfont.woff") format("woff"),
    url("../../fonts/DroidSerif-Regular-webfont.woff") format("woff");
}

/* Logo placeholder */

.ItIsaFont {
  font-size: 2rem;
  text-align: center;
}

.home a {
  color: gray;
  text-decoration: none;
}

/* Status list titles */

.status h4 {
  color: gray;
}

/* Article icons */

.icons {
  margin: 1rem;
}

/* StatusBar component and animation */

.box-animation {
  flex: 1;
  border-radius: 0.3em;
  animation-name: bar;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  width: 6rem;
}

box {
  flex: 1;
  border-radius: 0.3em;
  width: 6rem;
}

.rad {
  height: 2rem;
  width: 2rem;
}

/* .box-reverse {
  flex: 1;
  flex-wrap: wrap;
  border-radius: 0.3em;
  animation-name: bar;
  animation-duration: 2s;
  animation-direction: reverse;
} */

.fade {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  /*animation-direction: reverse;*/
}

@keyframes bar {
  from {
    height: 1rem;
  }
  to {
    height: 5.3rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* lockedIcon */
.unbutton {
  border: none;
}

/* StaffCard avatar */
.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}

/* Button style and Grid Container for secondaryNavBar component */

.links a:hover {
  text-decoration: none;
}

.links a {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid-item1 {
  columns: span 1;
  grid-column-start: 4;
}

.grid-item2 {
  columns: span 1;
  grid-column-start: 5;
}

.grid-item3 {
  columns: span 1;
  grid-column-start: 6;
}
